body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-page h1 {
  font-size: 70px;
}

.carousel-img {
  width: 100%;
  max-width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
  transition: opacity 0.5s ease-in-out;
}
.before-after-img {
  width: 100%;
  max-width: 400px;
  height: 300px;
  object-fit: cover;
  margin-top: 20px;
}
